header {
  background: var(--cor-branca);
  box-shadow: var(--sombra-padrao);
  position: sticky;
  top: 0;
  z-index: 50;
  padding: 10px 0;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
  padding: 0 var(--espacamento-padrao);
}

.text-primary-color {
  color: var(--cor-primaria);
}

.text-gray-dark {
  color: var(--cor-cinza-escuro);
}

.text-2xl {
  font-size: var(--fonte-tamanho-extra-grande);
}

.font-bold {
  font-weight: var(--fonte-peso-negrito);
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--borda-raio-padrao);
  font-size: var(--fonte-tamanho-medio);
  font-weight: var(--fonte-peso-medio);
  padding: 1rem;
  cursor: pointer;
  transition: var(--transicao-padrao);
  border: 1px solid transparent;
  background: transparent;

  @media (max-width: 900px) {
    font-size: 16px !important;
    padding: 10px;
  }
}

.btn-outline {
  border: 1px solid var(--cor-primaria-clara);
  background: var(--cor-branca);
  color: var(--cor-primaria-clara);

  app-icon-logout {
    color: var(--cor-primaria-clara);
    transition: color 0.2s;
  }
}

.btn-outline:hover {
  background: var(--cor-primaria-clara);
  color: var(--cor-branca);

  app-icon-logout {
    color: var(--cor-branca);
  }
}

.btn-primary {
  background: var(--cor-primaria-escura);
  color: var(--cor-branca);
  border: none;
}

.btn-primary:hover {
  opacity: 0.9;
}

@media (max-width: 768px) {
  .md\:flex {
    display: none !important;
  }
}

.nav-link {
  transition: all 0.3s ease;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;

  .header-logo {
    max-height: 55px !important;
    width: auto !important;
    object-fit: cover;

    @media (max-width: 768px) {
      max-height: 35px !important;
    }

    @media (max-width: 450px) {
      max-height: 35px !important;
    }
  }
}

@media (max-width: 650px) {
  .icon {
    display: none !important;
  }
}

@media (max-width: 600px) {
  .nav-container {
    display: none !important;
  }
}
