<app-card-centralizado type="formulario-pequeno">
  <ng-template pTemplate="content">
    <ng-container>
      <h5 class="text-center text-xlarge-bold mt-0">Reset password</h5>
    </ng-container>

    <form
      [formGroup]="redefinirForm"
      class="mt-6 flex flex-column justify-content-center sm:justify-content-between"
    >
      <div class="col-12">
        <label htmlFor="password" id="lb-password" class="required"
          >New Password</label
        >
        <p-password
          [toggleMask]="true"
          [feedback]="false"
          formControlName="password"
          placeholder="Create your password"
          class="w-full input-form password"
          id="password"
          minlength="8"
          maxLength="32"
          uiSenha
        >
        </p-password>
        <ng-template pTemplate="hideicon">
          <div
            class="icone-olho flex justify-content-center flex-column align-items-center cursor-pointer"
            id="icone-olho-off"
          >
            <span class="material-symbols-outlined small text-primary">
              visibility_off
            </span>
            <small class="text-icon">Hide</small>
          </div>
        </ng-template>
        <ng-template pTemplate="showicon">
          <div
            class="icone-olho flex justify-content-center flex-column align-items-center cursor-pointer"
            id="icone-olho"
          >
            <span
              class="material-symbols-outlined text-caption-small text-primary"
            >
              visibility
            </span>
            <small class="text-caption-small">Show</small>
          </div>
        </ng-template>
        <app-error
          *ngIf="redefinirForm.get('password').errors"
          id="error-msg-login"
          [control]="redefinirForm.get('password')"
        ></app-error>

        <div
          class="text-caption margin-label mt-2"
          *ngIf="redefinirForm.get('password').errors"
        >
          Your password must contain:
          <ul class="m-0">
            <li>8 to 32 characters</li>
          </ul>
        </div>
      </div>

      <div class="col-12 mt-2">
        <label
          htmlFor="confirmPassword"
          id="lb-confirmPassword"
          class="required"
          >Confirm Password</label
        >
        <p-password
          [toggleMask]="true"
          [feedback]="false"
          formControlName="confirmPassword"
          placeholder="Confirm Password"
          class="w-full input-form password"
          id="confirmPassword"
          minlength="8"
          maxLength="32"
          uiSenha
          [permitirColar]="false"
        >
        </p-password>
        <ng-template pTemplate="hideicon">
          <div
            class="icone-olho flex justify-content-center flex-column align-items-center cursor-pointer"
            id="icone-olho-off"
          >
            <span class="material-symbols-outlined small text-primary">
              visibility_off
            </span>
            <small class="text-icon">Hide</small>
          </div>
        </ng-template>
        <ng-template pTemplate="showicon">
          <div
            class="icone-olho flex justify-content-center flex-column align-items-center cursor-pointer"
            id="icone-olho"
          >
            <span
              class="material-symbols-outlined text-caption-small text-primary"
            >
              visibility
            </span>
            <small class="text-caption-small">Show</small>
          </div>
        </ng-template>
        <app-error
          id="error-msg-login"
          [control]="redefinirForm.get('confirmPassword')"
        ></app-error>
        <small
          *ngIf="exibirErroSenhaDiferente()"
          class="text-danger text-error font-normal"
        >
          {{ MENSAGENS.validacao.senhasNaoCorrespondem }}
        </small>
      </div>

      <div
        class="flex flex-column-reverse md:flex-row md:justify-content-between mt-5 botoes-card-pequeno"
      >
        <button
          pButton
          id="btnSecundario"
          class="w-full md:w-4 btn-outline my-2 justify-content-center"
          (click)="cancelar()"
        >
          {{ TEXTO_ACAO.cancelar }}
        </button>
        <button
          pButton
          id="botao-salvar"
          class="w-full md:w-4 btn-fill my-2 justify-content-center"
          (click)="salvar()"
        >
          {{ TEXTO_ACAO.salvar }}
        </button>
      </div>
    </form>
  </ng-template>
</app-card-centralizado>
