::ng-deep .custom-sidebar-drawer .p-drawer-content {
  padding: 0 !important;
}

::ng-deep .sidebar-container .p-drawer {
  border: none !important;
}

.sidebar-content, .sidebar-content-compacto  {
  background: var(--cor-primaria-escura);
  width: var(--largura-sidebar);
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--espacamento-padrao);

  .box-fechar {
    padding: var(--espacamento-padrao);
    display: flex;
    justify-content: start;
    align-items: center;
    height: var(--altura-box-fechar);
    color: var(--cor-branca);

    span {
      font-size: var(--fonte-tamanho-titulo);
    }
  }

  .box-usuario {
    padding: var(--espacamento-padrao);
    gap: var(--espacamento-padrao);
    height: var(--altura-box-usuario);
    background: var(--cor-primaria);
    color: var(--cor-branca);

    .usuario__iniciais {
      width: var(--largura-iniciais-usuario);
      height: var(--altura-iniciais-usuario);
      border: 1px solid rgba(255, 255, 255, 0.60);
      border-radius: var(--borda-raio-circular);
      box-shadow: var(--sombra-hover);

      .texto {
        font-size: var(--fonte-tamanho-grande);
        font-weight: var(--fonte-peso-regular);
      }
    }

    .usuario__info {
      .info__nome {
        font-size: var(--fonte-tamanho-medio);
        font-weight: var(--fonte-peso-negrito);
      }
      .info__cargo {
        font-size: var(--fonte-tamanho-padrao);
        font-weight: var(--fonte-peso-regular);
      }
    }

  }

  .box-rotas {
    border-top: 1px solid var(--cor-primaria);
    padding: var(--espacamento-padrao) 0px;
    display: flex;

    .rotas__link {
      height: var(--altura-link-rotas);
      padding: var(--espacamento-padrao) var(--espacamento-grande);
      gap: var(--espacamento-padrao);
      text-decoration: none;
    }

    .rotas__texto {
      color: var(--cor-branca);
      font-size: var(--fonte-tamanho-grande);
      font-weight: var(--fonte-peso-medio);
    }

    .rotas__link--ativo {
      border-left: 2px solid var(--cor-branca);
      background: var(--cor-primaria);
    }
  }
}

.sidebar-content-compacto {
  width: var(--largura-sidebar-compacto);
  height: 100%;
  position: fixed;

  .box-rotas {
    border-top: none;
  }
}
