<header
  class="header"
  [ngClass]="{
    'dark-header': isDarkMode,
    'is-admin': isAdministrador(),
  }"
  [appShowInRoutes]="headerAllowedRoutes"
>
  <div
    class="mobile-menu"
    *ngIf="isMobile"
    [ngClass]="{ 'is-open': isMobileMenuOpen }"
  >
    <div class="mobile-header-user" *ngIf="!isAdministrador()">
      <div class="mobile-header">
        <div class="header-content">
          <section class="flex align-items-center gap-2">
            <div
              class="menu-trigger"
              *ngIf="isLogado() && !isProfileManagementRoute()"
              [ngClass]="{ active: menuAberto }"
              (click)="toggleMenu()"
              (keydown.enter)="toggleMenu()"
              (keydown.space)="toggleMenu()"
              tabindex="0"
              role="button"
              aria-label="Open Side Menu"
              [attr.aria-expanded]="menuAberto"
            >
              <app-icon-bars></app-icon-bars>
            </div>
            <div class="logo-container">
              <img
                src="assets/img/Logo-black.png"
                alt="Logo"
                class="header-logo"
                (click)="navegarPaginaInicial()"
                (keydown.enter)="navegarPaginaInicial()"
                tabindex="0"
                role="button"
                aria-label="Ir para página inicial"
              />
            </div>
          </section>


          <div class="right-container">
            <div class="icons-container" *ngIf="isLogado()">
              <button
                pButton
                (click)="abrirCheckout()"
                *ngIf="!isAdministrador()"
                class="icon-button"
                id="test-btn-checkout"
                [pTooltip]="cartTooltip"
                tooltipPosition="bottom"
                [disabled]="!hasActiveCart"
              >
                <app-icon-shopping-basket></app-icon-shopping-basket>
                <span
                  *ngIf="itensCarrinho() > 0"
                  class="badge flex justify-content-center align-items-center absolute"
                >
                  {{ itensCarrinho() }}</span
                >
              </button>

              <button
                pButton
                (click)="abrirNotificacoes()"
                class="icon-button"
                id="test-btn-notification"
                pTooltip="View notifications"
                tooltipPosition="bottom"
              >
                <app-icon-notifications></app-icon-notifications>
                <span
                  *ngIf="itensNotificacao() > 0"
                  class="badge flex justify-content-center align-items-center absolute"
                >
                  {{ itensNotificacao() }}</span
                >
              </button>
            </div>
          </div>
        </div>

        <section class="box-actions main-actions mobile-only">
          <button
            class="icon-button"
            id="test-btn-checkout-mobile"
            (click)="abrirCheckout()"
            *ngIf="!isAdministrador()"
            pButton
            [rounded]="true"
            [text]="true"
            [disabled]="!hasActiveCart"
            [pTooltip]="cartTooltip"
            tooltipPosition="bottom"
          >
            <app-icon-shopping-basket></app-icon-shopping-basket>
            <span
              *ngIf="itensCarrinho() > 0"
              class="badge flex justify-content-center align-items-center absolute"
            >
              {{ itensCarrinho() }}</span
            >
          </button>

          <button
            class="icon-button"
            id="test-btn-notification"
            (click)="abrirNotificacoes()"
            *ngIf="isAdministrador()"
            pButton
            [rounded]="true"
            [text]="true"
          >
            <app-icon-notifications></app-icon-notifications>
            <span
              *ngIf="itensNotificacao()"
              class="badge flex justify-content-center align-items-center absolute"
            >
              {{ itensNotificacao() }}</span
            >
          </button>

          <button
            class="icon-button"
            id="test-btn-notification"
            (click)="abrirNotificacoes()"
            pButton
            [rounded]="true"
            [text]="true"
          >
            <app-icon-notifications></app-icon-notifications>
            <span
              *ngIf="itensNotificacao()"
              class="badge flex justify-content-center align-items-center absolute"
            >
              {{ itensNotificacao() }}</span
            >
          </button>
        </section>
      </div>
    </div>

    <div class="mobile-header-admin" *ngIf="isAdministrador()">
      <div class="mobile-header">
        <div class="header-content">
          <section class="flex align-items-center gap-2">
            <div
              class="menu-trigger"
              *ngIf="isLogado() && !isProfileManagementRoute()"
              [ngClass]="{ active: menuAberto }"
              (click)="toggleMenu()"
              (keydown.enter)="toggleMenu()"
              (keydown.space)="toggleMenu()"
              tabindex="0"
              role="button"
              aria-label="Open Side Menu"
              [attr.aria-expanded]="menuAberto"
            >
              <app-icon-bars></app-icon-bars>
            </div>
            <div class="logo-container">
              <img
                src="assets/img/Logo-black.png"
                alt="Logo"
                class="header-logo"
                (click)="navegarPaginaInicial()"
                (keydown.enter)="navegarPaginaInicial()"
                tabindex="0"
                role="button"
                aria-label="Ir para página inicial"
              />
            </div>
          </section>


          <div class="right-container">
            <div class="icons-container">
              <app-alert-counter
                *ngIf="isAdministrador()"
                [toggleSidebar]="toggleAdminSidebar.bind(this)"
              >
              </app-alert-counter>

              <button
                pButton
                class="icon-button"
                (click)="redirecionarAdministracao()"
                id="link-administracao-mobile"
              >
                <app-icon-settings></app-icon-settings>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="desktop-header" *ngIf="!isMobile">
    <div class="container-header-content flex flex-column w-full">
      <div
        class="header-container flex flex-row justify-content-between align-items-center w-full"
      >
        <section class="flex align-items-center gap-2">
          <div
            class="menu-trigger-desktop"
            *ngIf="isLogado() && !isProfileManagementRoute()"
            [ngClass]="{ active: menuAberto }"
            (click)="toggleMenu()"
            (keydown.enter)="toggleMenu()"
            (keydown.space)="toggleMenu()"
            tabindex="0"
            role="button"
            aria-label="Open Side Menu"
            [attr.aria-expanded]="menuAberto"
          >
            <app-icon-bars></app-icon-bars>
          </div>
          <div class="logo-container">
            <img
              src="assets/img/Logo-black.png"
              alt="Logo"
              class="header-logo"
              (click)="navegarPaginaInicial()"
              (keydown.enter)="navegarPaginaInicial()"
              tabindex="0"
              role="button"
              aria-label="Ir para página inicial"
            />
          </div>
        </section>



        <section class="box-actions main-actions desktop-only">
          <button
            id="test-btn-checkout-desktop"
            (click)="abrirCheckout()"
            *ngIf="!isAdministrador()"
            pButton
            [rounded]="true"
            [text]="true"
            [pTooltip]="cartTooltip"
            tooltipPosition="bottom"
            class="icon-button"
            [disabled]="!hasActiveCart"
          >
            <app-icon-shopping-basket
              class="icon cursor-pointer"
            ></app-icon-shopping-basket>
            <span
              *ngIf="itensCarrinho() > 0"
              class="badge flex justify-content-center align-items-center absolute"
            >
              {{ itensCarrinho() }}</span
            >
          </button>

          <app-alert-counter
            *ngIf="isAdministrador() && !isAdminSidebarVisible"
            [toggleSidebar]="toggleAdminSidebar.bind(this)"
          >
          </app-alert-counter>

          <button
            class="icon-button"
            id="link-administracao"
            *ngIf="isAdministrador()"
            pButton
            [rounded]="true"
            [text]="true"
            (click)="redirecionarAdministracao()"
            pTooltip="Admin settings"
            tooltipPosition="bottom"
          >
            <app-icon-settings
              class="icon cursor-pointer icon-fill"
            ></app-icon-settings>
          </button>

          <ng-container *ngIf="!isAdministrador()">
            <button
              id="test-btn-notification"
              (click)="abrirNotificacoes()"
              pButton
              [rounded]="true"
              [text]="true"
              pTooltip="View notifications"
              tooltipPosition="bottom"
              class="icon-button"
            >
              <app-icon-notifications
                class="icon cursor-pointer"
              ></app-icon-notifications>
              <span
                *ngIf="itensNotificacao() > 0"
                class="badge flex justify-content-center align-items-center absolute"
              >
                {{ itensNotificacao() }}</span
              >
            </button>
          </ng-container>
        </section>
      </div>
    </div>
  </div>
</header>
<app-checkout-list-side-bar *ngIf="isLogado()"></app-checkout-list-side-bar>

<app-notification-sidebar 
  [visible]="isNotificationsSidebarVisible"
  (visibleChange)="isNotificationsSidebarVisible = $event">
</app-notification-sidebar>

