.header {
  width: 100%;
  height: var(--altura-botao);
  color: var(--cor-branca);
  background-color: var(--p-primary-color);
  margin-bottom: var(--espacamento-padrao);
  padding-left: var(--espacamento-medio);
  font-family: var(--fonte-familia);
  font-size: var(--fonte-tamanho-grande);
}


::ng-deep {
  .p-menu {
    border: none;
    width: 100%;
  }

  .p-sidebar .p-sidebar-content {
    padding-left: 0px;
    padding-right: 0px;
  }


}

