<app-guest-header/>

@defer (on viewport) {
  <app-hero/>
} @placeholder {
  <div class="section-placeholder">Loading hero section...</div>
}

@defer (on viewport) {
  <app-banner/>
} @placeholder {
  <div class="section-placeholder">Loading banner...</div>
}

@defer (on viewport) {
  <app-how-it-works/>
} @placeholder {
  <div class="section-placeholder">Loading how it works...</div>
}

@defer (on viewport) {
  <app-feature/>
} @placeholder {
  <div class="section-placeholder">Loading features...</div>
}

<app-guest-footer/>