label,
.label {
  margin-left: 10px;
  &.required::after {
    content: ' *';
  }
}

:host ::ng-deep {
  .pass-title {
    color: var(--cor-primaria);
  }
  .input-form {
    height: 48px;
    border-radius: 10px !important;
  }

  .formulario-pequeno .card .p-card-body {
    min-height: 400px;
  }

  #error-msg-login {
    .text-danger {
      padding-left: 10px;
    }
  }

  .botoes {
    padding: 8px;
  }
}
