.termos-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.termos-content {
  background-color: white;
  border-radius: var(--borda-raio-padrao);
  width: 80%;
  max-width: 700px;
  padding: var(--espacamento-grande);
  display: flex;
  flex-direction: column;
  gap: var(--espacamento-padrao);
  max-height: 80vh;
  font-family: var(--fonte-familia);
  font-size: var(--fonte-tamanho-padrao);
}

.termos-scroll {
  overflow-y: auto;
  padding-right: var(--espacamento-padrao);
  margin-bottom: var(--espacamento-padrao);
  max-height: 50vh;
}

.termos-actions {
  display: flex;
  justify-content: space-between;
  gap: var(--espacamento-padrao);
}

h2 {
  text-align: center;
  margin-bottom: var(--espacamento-padrao);
  font-size: var(--fonte-tamanho-titulo);
  font-family: var(--fonte-familia);
}

h3 {
  margin-top: var(--espacamento-padrao);
  margin-bottom: var(--espacamento-pequeno);
  font-size: var(--fonte-tamanho-grande);
  font-family: var(--fonte-familia);
}
