:host ::ng-deep {
  .validacao-cadastro {
    .card .p-card .p-card-body,
    .p-card,
    .card .p-card .p-card-content {
      border-radius: 35px;
      color: var(--cor-primaria);
      
    }

    .input-form {
      border-radius: 10px !important;
    }

    #error-msg-login {
      .text-danger {
        padding-left: 10px;
      }
    }

    .resend-button {
      background-color: var(--cor-primaria) !important;
      width: 100% !important;
      max-width: 200px;
    }
  }
}
