<app-guest-header *ngIf="shouldShowGuestHeader()"></app-guest-header>

<div class="terms-of-service-container">
  <div class="mx-auto py-4 px-3 lg:px-6">
    <div class="max-w-4xl mx-auto">
      <div *ngIf="loading" class="text-center">
        <p-progressSpinner
          styleClass="w-8 h-8"
          strokeWidth="4"
          fill="var(--surface-ground)"
          animationDuration=".5s"
        >
        </p-progressSpinner>
        <p class="mt-4">Loading terms of service...</p>
      </div>

      <div *ngIf="error" class="text-center">
        <p class="text-red-600 mb-4">Error loading terms of service.</p>
        <button
          pButton
          label="Try Again"
          (click)="carregarTermoCondicao()"
          class="p-button-outlined"
        ></button>
      </div>

      <div *ngIf="!loading && !error && termoCondicao">
        <p-card styleClass="terms-of-service-card">
          <ng-template pTemplate="header">
            <div class="flex flex-column">
              <h1 class="text-center mb-4 pt-4">Terms of Service</h1>
              <div style="padding-left: 20px">
                <p><strong>Version: </strong> {{ termoCondicao.version }}</p>
                <p>
                  <strong>Effective Date: </strong>
                  {{ termoCondicao.createdAt | date: "MM/dd/yyyy" }}
                </p>
              </div>
            </div>
          </ng-template>

          <ng-template pTemplate="content">
            <div
              class="terms-of-service-content"
              [innerHTML]="termoCondicao.content"
            ></div>
          </ng-template>

          <ng-template pTemplate="footer" *ngIf="precisaAceitarTermos()">
            <div
              class="bg-blue-50 border border-blue-200 rounded-lg p-2 flex flex-column align-items-center"
            >
              <p class="text-blue-800 mb-3">
                <strong>Attention:</strong> You must accept the terms of use to
                continue using the platform.
              </p>
              <button
                pButton
                label="Accept"
                (click)="aceitarTermos()"
                [disabled]="!podeAceitarTermos"
                [loading]="aceitandoTermos"
                class="p-button-primary w-2"
              ></button>
            </div>
          </ng-template>
        </p-card>
      </div>
    </div>
  </div>
</div>
