<app-search-section
  [useAdminMapSearch]="true"
  (monitorsFound)="onMonitorsFound($event.monitors, $event.zipCode)"
></app-search-section>

<app-sidebar-mapa></app-sidebar-mapa>

<div class="admin-view">
  <div class="map-container">
    <app-maps
      #mapsComponent
      [center]="mapCenter"
      height="100%"
      width="100%"
      [zoom]="9"
      [showMonitorHealth]="true"
      (markerClicked)="onMarkerClick($event)"
      (mapInitialized)="onMapLeafletInitialized($event)"
      (mapReady)="onMapReady($event)"
    >
    </app-maps>
  </div>
</div>
