::ng-deep {
  .privacy-policy-container,
  .privacy-policy-card {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
  }

  .privacy-policy-content {
    a {
      color: var(--cor-primaria-escura) !important;
    }

    .document-section {
      margin: 1rem 0rem;
    }

    .contact-info {
      display: flex;
      flex-direction: column;
      margin-top: 1rem;
      gap: 0.5rem;
    }

    p,
    .content-intro,
    li {
      text-align: justify;
    }

    p {
      margin-bottom: 0px !important;
    }

    @media (max-width: 600px) {
      h4 {
        font-size: 1rem !important;
      }
    }
  }
}
