<div class="profile-container">
  <div class="profile-header">
    <h1 class="profile-title">Profile Settings</h1>
  </div>

  <div class="profile-content" *ngIf="!loading; else loadingTemplate">
    <form [formGroup]="profileForm">
      <div class="section-title">Company Information</div>
      <div class="form-row">
        <div class="form-group">
          <label for="businessName" class="required">Business Name</label>
          <input
            pInputText
            type="text"
            maxlength="255"
            id="businessName"
            formControlName="businessName"
            [readonly]="!isEditMode"
          />
          <app-error
            id="error-msg-business-name"
            [control]="profileForm.get('businessName')"
          ></app-error>
        </div>

        <div class="form-group">
          <label for="identificationNumber" class="required"
            >Identification Number</label
          >
          <input
            pInputText
            type="text"
            id="identificationNumber"
            formControlName="identificationNumber"
            [disabled]="true"
          />
        </div>
      </div>

      <div class="form-row">
        <div class="form-group">
          <label for="industry" class="required">Industry</label>
          <input
            pInputText
            type="text"
            id="industry"
            formControlName="industry"
            [readonly]="!isEditMode"
            uiTextOnly
          />
          <app-error
            id="error-msg-industry"
            [control]="profileForm.get('industry')"
          ></app-error>
        </div>

        <div class="form-group">
          <label for="websiteUrl">Website</label>
          <input
            pInputText
            type="text"
            id="websiteUrl"
            formControlName="websiteUrl"
            [readonly]="!isEditMode"
          />
          <app-error
            id="error-msg-website"
            [control]="profileForm.get('websiteUrl')"
          ></app-error>
        </div>
      </div>

      <div class="section-title">Contact</div>
      <div class="form-row">
        <div class="form-group">
          <label for="email" class="required">Email</label>
          <input
            type="email"
            pInputText
            formControlName="email"
            class="w-full input-form"
            id="inp-email"
            maxLength="255"
            [readonly]="!isEditMode"
          />
          <app-error
            id="error-msg-email"
            [control]="profileForm.get('email')"
          ></app-error>
        </div>

        <div class="form-group">
          <label for="phone" class="required">Phone</label>
          <p-inputMask
            mask="+1 999 999 9999"
            [unmask]="true"
            formControlName="phone"
            id="phone"
            [readonly]="!isEditMode"
            class="w-full"
          >
          </p-inputMask>
          <app-error
            id="error-msg-phone"
            [control]="profileForm.get('phone')"
          ></app-error>
        </div>
      </div>

      <div class="section-title">Owner Information</div>
      <div class="form-row">
        <div class="form-group">
          <label
            id="lb-owner-identification-number"
            for="owner-identification-number"
            class="required"
            >Identification Number</label
          >
          <input
            pInputText
            type="text"
            id="owner-identification-number"
            formControlName="ownerIdentificationNumber"
            [disabled]="true"
          />
        </div>
        <div class="form-group">
          <label for="ownerFirstName" class="required">First Name</label>
          <input
            pInputText
            type="text"
            id="ownerFirstName"
            formControlName="ownerFirstName"
            [readonly]="!isEditMode"
            maxlength="50"
            uiTextOnly
          />
          <app-error
            id="error-msg-owner-first-name"
            [control]="profileForm.get('ownerFirstName')"
          ></app-error>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group">
          <label for="ownerLastName">Last Name</label>
          <input
            pInputText
            type="text"
            id="ownerLastName"
            formControlName="ownerLastName"
            [readonly]="!isEditMode"
            uiTextOnly
            maxlength="150"
          />
          <app-error
            id="error-msg-owner-last-name"
            [control]="profileForm.get('ownerLastName')"
          ></app-error>
        </div>

        <div class="form-group">
          <label for="ownerPhone">Phone</label>
          <p-inputMask
            mask="+1 999 999 9999"
            [unmask]="true"
            formControlName="ownerPhone"
            id="ownerPhone"
            [readonly]="!isEditMode"
            class="w-full"
          >
          </p-inputMask>
          <app-error
            id="error-msg-owner-email"
            [control]="profileForm.get('ownerPhone')"
          ></app-error>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group">
          <label for="ownerEmail">Email</label>
          <input
            pInputText
            type="email"
            id="ownerEmail"
            formControlName="ownerEmail"
            maxLength="255"
            [readonly]="!isEditMode"
          />
          <app-error
            id="error-msg-owner-email"
            [control]="profileForm.get('ownerEmail')"
          ></app-error>
        </div>
      </div>

      <div
        class="section-title flex align-items-center justify-content-between"
      >
        Addresses
        <div *ngIf="isEditMode" class="add-address-btn">
          <button
            pButton
            icon="pi pi-plus"
            type="button"
            class="btn-add-address"
            (click)="addAddress()"
          >
            Address
          </button>
        </div>
      </div>

      <div formArrayName="addresses">
        <div
          *ngFor="
            let addressGroup of addressesFormArray.controls;
            let i = index
          "
          [formGroupName]="i"
          class="address-item"
        >
          <div
            class="address-header flex align-items-center justify-content-between"
          >
            <h5>Address {{ i + 1 }}</h5>
            <button
              pButton
              icon="pi pi-trash"
              *ngIf="isEditMode && addressesFormArray.length > 1"
              type="button"
              class="btn-remover-social p-button-danger ml-2 icon-button btn-danger mt-0"
              (click)="removeAddress(i)"
            ></button>
          </div>

          <div class="form-row">
            <div class="form-group">
              <label class="required">Street</label>
              <input
                type="text"
                pInputText
                formControlName="street"
                placeholder="Street"
                class="w-full input-form"
                maxlength="100"
                [readonly]="!isEditMode"
              />
              <app-error [control]="addressGroup.get('street')"></app-error>
            </div>
            <div class="form-group">
              <label class="required">ZipCode</label>
              <p-inputMask
                mask="99999"
                formControlName="zipCode"
                placeholder="Zipcode"
                class="w-full input-form"
                [readonly]="!isEditMode"
              ></p-inputMask>
              <app-error [control]="addressGroup.get('zipCode')"></app-error>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group">
              <label class="required">City</label>
              <input
                type="text"
                pInputText
                formControlName="city"
                placeholder="City"
                class="w-full input-form"
                maxlength="50"
                [readonly]="!isEditMode"
                placeholder="City"
              />
              <app-error [control]="addressGroup.get('city')"></app-error>
            </div>
            <div class="form-group">
              <label class="required">State</label>
              <input
                type="text"
                pInputText
                formControlName="state"
                class="w-full input-form"
                minlength="2"
                maxlength="2"
                uiTextOnly
                [readonly]="!isEditMode"
                placeholder="State"
              />
              <app-error [control]="addressGroup.get('state')"></app-error>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group">
              <label>Country</label>
              <input
                type="text"
                pInputText
                formControlName="country"
                placeholder="Country"
                class="w-full input-form"
                maxlength="100"
                uiTextOnly
                [readonly]="!isEditMode"
              />
              <app-error [control]="addressGroup.get('country')"></app-error>
            </div>
            <div class="form-group">
              <label>Complement</label>
              <input
                type="text"
                pInputText
                formControlName="complement"
                placeholder="Complement"
                class="w-full input-form"
                maxlength="100"
                [readonly]="!isEditMode"
              />
              <app-error [control]="addressGroup.get('complement')"></app-error>
            </div>
          </div>
        </div>
      </div>

      <div class="section-title">Social Media</div>

      <div formArrayName="socialMedia">
        <div class="social-media-header">
          <label>Social Media Links</label>
          <button
            pButton
            *ngIf="isEditMode"
            icon="pi pi-plus"
            type="button"
            class="btn-add-social"
            (click)="addSocialMedia()"
          >
            Social Media
          </button>
        </div>

        <div
          *ngIf="socialMediaArray.length === 0 && !isEditMode"
          class="no-social-media"
        >
          No social media links added.
        </div>

        <div
          *ngIf="socialMediaArray.length === 0 && isEditMode"
          class="no-social-media-edit"
        >
          <p>
            No social media links added yet. Click the button above to add your
            first social media link.
          </p>
        </div>

        <div
          *ngFor="let social of socialMediaArray.controls; let i = index"
          [formGroupName]="i"
          class="form-row social-media-row"
        >
          <div class="form-group">
            <p-dropdown
              [options]="socialMediaOptions"
              formControlName="platform"
              placeholder="Select Social Media"
              [disabled]="!isEditMode"
              class="w-full social-dropdown"
            >
            </p-dropdown>
            <app-error
              *ngIf="
                social.get('platform')?.touched &&
                social.get('platform')?.invalid
              "
              [control]="social.get('platform')"
            ></app-error>
          </div>

          <div class="form-group">
            <input
              type="url"
              formControlName="url"
              placeholder="https://www.example.com"
              [readonly]="!isEditMode"
              class="w-full input-form"
            />
            <app-error
              *ngIf="social.get('url')?.touched && social.get('url')?.invalid"
              [control]="social.get('url')"
            ></app-error>
          </div>

          <button
            pButton
            icon="pi pi-trash"
            *ngIf="isEditMode"
            type="button"
            class="btn-remover-social p-button-danger ml-2 icon-button btn-danger"
            (click)="removeSocialMedia(i)"
          ></button>
        </div>
      </div>

      <div class="button-container">
        <ng-container *ngIf="!isEditMode">
          <button pButton class="btn-edit" (click)="toggleEditMode()">
            Edit
          </button>
        </ng-container>
        <ng-container *ngIf="isEditMode">
          <button
            pButton
            class="btn-cancel"
            id="btnSecundario"
            (click)="cancelEdit()"
          >
            Cancel
          </button>
          <button pButton class="btn-save" (click)="saveProfile()">Save</button>
        </ng-container>
      </div>
    </form>
  </div>

  <ng-template #loadingTemplate>
    <div class="loading-indicator">
      <p>Loading profile information...</p>
    </div>
  </ng-template>
</div>
