<div class="owner-data">
  <h5>Owner Data</h5>
  <form [formGroup]="ownerForm">
    <div class="grid form-group">
      <div class="col-12 md:col-6 lg:col-4">
        <label
          id="lb-owner-identification-number"
          for="owner-identification-number"
          class="required"
          >Identification Number</label
        >
        <p-inputMask
          mask="999999999"
          autoClear="false"
          formControlName="ownerIdentificationNumber"
          placeholder="000000000"
          class="w-full input-form"
          id="owner-identification-number"
        />
        <app-error
          id="error-msg-owner-identification-number"
          [control]="ownerForm.get('ownerIdentificationNumber')"
          *ngIf="mostrarErro(ownerForm, 'ownerIdentificationNumber')"
        ></app-error>
      </div>

      <div class="col-12 md:col-6 lg:col-4">
        <label id="lb-owner-first-name" for="owner-first-name" class="required"
          >First Name</label
        >
        <input
          type="text"
          pInputText
          formControlName="firstName"
          placeholder="First Name"
          class="w-full input-form"
          id="owner-first-name"
          maxLength="50"
          uiTextOnly
        />
        <app-error
          id="error-msg-owner-first-name"
          [control]="ownerForm.get('firstName')"
          *ngIf="mostrarErro(ownerForm, 'firstName')"
        ></app-error>
      </div>

      <div class="col-12 md:col-6 lg:col-4">
        <label id="lb-owner-last-name" for="owner-last-name">Last Name</label>
        <input
          type="text"
          pInputText
          formControlName="lastName"
          placeholder="Last Name"
          class="w-full input-form"
          id="owner-last-name"
          maxLength="150"
          uiTextOnly
        />
        <app-error
          id="error-msg-owner-last-name"
          [control]="ownerForm.get('lastName')"
          *ngIf="mostrarErro(ownerForm, 'lastName')"
        ></app-error>
      </div>

      <div class="col-4 md:col-6 lg:col-3">
        <label id="lb-owner-phone" for="owner-phone">Phone</label>
        <p-inputMask
          mask="+1 999 999 9999"
          [unmask]="true"
          formControlName="phone"
          placeholder="+1 508 215 8681"
          class="w-full"
          inputId="owner-phone"
        />
        <app-error
          id="error-msg-phone-owner"
          [control]="ownerForm.get('phone')"
        ></app-error>
      </div>
      <div class="col-8 md:col-12 lg:col-9">
        <label id="lb-owner-email" for="owner-email">E-mail</label>
        <input
          type="email"
          pInputText
          formControlName="ownerEmail"
          placeholder="emailexample@mail.com"
          class="w-full input-form"
          id="owner-email"
          maxLength="255"
        />
        <app-error
          id="error-msg-owner-email"
          [control]="ownerForm.get('ownerEmail')"
          *ngIf="mostrarErro(ownerForm, 'ownerEmail')"
        ></app-error>
      </div>
    </div>
  </form>
</div>
