#dialogo-container {
  width: 100%;
  height: 100%;
  min-height: 300px;
  border-radius: var(--borda-raio-padrao);
  padding: var(--espacamento-padrao) var(--espacamento-medio)
    var(--espacamento-grande);
  box-shadow: var(--sombra-padrao);
  background: var(--cor-branca);
  font-family: var(--fonte-familia);

  .p-dialog-content {
    padding: 0 !important;
    overflow: hidden !important;
    border-radius: var(--borda-raio-padrao) !important;
  }

  .dialogo-icone {
    font-size: 60px !important;
    color: var(--cor-primaria-escura);
    font-variation-settings:
      "FILL" 0,
      "wght" 400,
      "GRAD" 0,
      "opsz" 24;
  }

  .icone-custon {
    height: 80px !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .success {
    font-size: 50px;
    color: var(--cor-sucesso);
  }

  .alert {
    color: var(--cor-alerta);
  }

  .dialogo-titulo {
    font-size: var(--fonte-tamanho-titulo) !important;
    font-weight: var(--fonte-peso-negrito);
    text-align: center;
    line-height: 160%;
    color: var(--cor-primaria-escura);
    height: 38px;
  }

  .dialogo-descricao {
    font-size: 1rem !important;
    font-weight: var(--fonte-peso-medio);
    line-height: 35.2px;
    text-align: center;
    margin-top: var(--espacamento-extra-grande);
    margin-bottom: var(--espacamento-extra-grande);
    flex-grow: 1;
    color: var(--cor-preto-claro);
  }

  #container-acoes {
    display: flex;
    gap: var(--espacamento-padrao);
    justify-content: center;

    &.space-between {
      justify-content: space-between;
    }
  }

  .material-symbols-outlined.fill {
    font-variation-settings:
      "FILL" 1,
      "wght" 400,
      "GRAD" 0,
      "opsz" 24;
  }
}

@media screen and (max-width: 700px) {
  #dialogo-container {
    padding: var(--espacamento-padrao) var(--espacamento-medio) 22px;

    #container-acoes {
      flex-direction: column;
      align-items: center;
      gap: 12px;

      .p-button {
        width: 100% !important;
      }
    }
  }
}

s {
  all: unset;
  text-decoration: none !important;
}
