$width-sidebar: 90px;
$padding-content: 54px;

.layout {
  display: flex;
  background: var(--cor-cinza-fundo);
  font-family: var(--fonte-familia);
}

.content {
  width: 100%;
  padding: var(--espacamento-extra-grande);
  padding-left: calc(#{$width-sidebar} + var(--espacamento-extra-grande));
}
