.footer-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: var(--espacamento-pequeno);
  gap: var(--espacamento-medio);
  font-family: var(--fonte-familia);
}

.footer-buttons .p-button {
  width: auto;
}

.btn-outline,
.btn-fill {
  width: var(--largura-botao-padrao) !important;
}
