.footer-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  gap: 20px;
}

.footer-buttons .p-button {
  width: auto;
}

.btn-outline,
.btn-fill {
  width: 310px !important;
}
