<app-card-centered type="formulario-pequeno">
  <ng-template pTemplate="content">
    <ng-container>
      <h5 class="text-center text-xlarge-bold mt-0">Register Password</h5>
    </ng-container>

    <form
      [formGroup]="passwordForm"
      class="mt-6 flex flex-column justify-content-center sm:justify-content-between"
    >
      <div class="col-12">
        <label htmlFor="password" id="lb-password" class="required"
          >Create Password</label
        >

        <p-password
          [toggleMask]="true"
          [feedback]="false"
          formControlName="password"
          placeholder="Create your password"
          class="w-full input-form password"
          id="password"
          minlength="8"
          maxLength="32"
          uiSenha
        >
          <ng-template pTemplate="hideicon">
            <div
              class="icone-olho flex justify-content-center flex-column align-items-center cursor-pointer"
              id="icone-olho-off"
            >
              <app-icon-olho-fechado
                class="small text-primary"
              ></app-icon-olho-fechado>
            </div>
          </ng-template>
          <ng-template pTemplate="showicon">
            <div
              class="icone-olho flex justify-content-center flex-column align-items-center cursor-pointer"
              id="icone-olho"
            >
              <app-icon-olho
                class="text-caption-small text-primary"
              ></app-icon-olho>
            </div>
          </ng-template>
        </p-password>
        <app-error
          *ngIf="passwordForm.get('password').errors"
          id="error-msg-login"
          [control]="passwordForm.get('password')"
        ></app-error>

        <div
          class="text-caption margin-label mt-2"
          *ngIf="passwordForm.get('password').errors"
        >
          Your password must contain:
          <ul class="m-0">
            <li>8 to 32 characters</li>
          </ul>
        </div>
      </div>

      <div class="col-12 mt-2">
        <label htmlFor="confirmPassword" id="lb-confirmPassword" class="required"
          >Confirm Password</label
        >

        <p-password
          [toggleMask]="true"
          [feedback]="false"
          formControlName="confirmPassword"
          placeholder="Confirm your password"
          class="w-full input-form password"
          id="confirmPassword"
          minlength="8"
          maxLength="32"
          [permitirColar]="false"
          uiSenha
        >
          <ng-template pTemplate="hideicon">
            <div
              class="icone-olho flex justify-content-center flex-column align-items-center cursor-pointer"
              id="icone-olho-off"
            >
              <app-icon-olho-fechado
                class="small text-primary"
              ></app-icon-olho-fechado>
            </div>
          </ng-template>
          <ng-template pTemplate="showicon">
            <div
              class="icone-olho flex justify-content-center flex-column align-items-center cursor-pointer"
              id="icone-olho"
            >
              <app-icon-olho
                class="text-caption-small text-primary"
              ></app-icon-olho>
            </div>
          </ng-template>
        </p-password>
        <app-error
          id="error-msg-login"
          [control]="passwordForm.get('confirmPassword')"
        ></app-error>
        <small
          *ngIf="exibirErroSenhaDiferente()"
          class="text-danger text-error margin-label"
        >
          {{ MESSAGES.validation.passwordsMismatch }}
        </small>
      </div>

      <div class="flex justify-content-center mt-5">
        <button
          pButton
          (click)="save()"
          class="w-full md:w-6 btn-fill my-2 justify-content-center"
          [disabled]="!passwordForm.valid || exibirErroSenhaDiferente()"
        >
          {{ ACTION_LABELS.save }}
        </button>
      </div>
    </form>
  </ng-template>
</app-card-centered>
