::ng-deep {
  .container {
    .card,
    .p-card {
      width: 100%;
      height: 100%;
    }
  }

  .formulario-grande {
    padding: var(--espacamento-extra-grande);

    .card,
    .p-card {
      width: 100%;
      height: 100%;
      max-width: var(--largura-max-card-grande);
      max-height: var(--altura-max-card-grande);
      font-size: var(--fonte-tamanho-padrao);
      font-weight: var(--fonte-peso-medio);
      font-family: var(--fonte-familia);
      border-radius: var(--borda-raio-padrao);
    }
  }

  .formulario-pequeno {
    .card {
      max-width: var(--largura-min-card-pequeno);
    }

    .card,
    .p-card {
      font-size: var(--fonte-tamanho-padrao);
      font-weight: var(--fonte-peso-medio);
      font-family: var(--fonte-familia);
      border-radius: var(--borda-raio-padrao);
      min-width: var(--largura-min-card-pequeno);

      .p-card-body {
        padding: 0;
      }

      .p-card .p-card-content {
        padding: var(--espacamento-extra-grande) var(--espacamento-grande);
      }

      .p-card .p-card-body {
        display: flex;
        justify-content: center;
        flex-direction: column;
      }

      @media screen and (max-width: 700px) {
        max-width: 100%;
        max-height: 100%;
        padding: var(--espacamento-padrao);
        min-height: auto;
        min-width: 100%;
        overflow: auto;
        height: 100%;

        .p-card .p-card-body {
          height: 100%;
        }

        .p-card .p-card-content {
          padding: var(--espacamento-padrao);
          height: 100%;
          display: flex;
          justify-content: center;
          flex-direction: column;
        }

        form {
          max-height: var(--altura-max-form-mobile);
        }
      }
    }
  }

  .formulario-login {
    .card {
      max-width: var(--largura-max-card-pequeno);
    }

    .card,
    .p-card {
      min-width: var(--largura-min-card-pequeno);

      .p-card-body {
        padding: 0;
      }

      .p-card .p-card-content {
        padding: var(--espacamento-grande) var(--espacamento-extra-grande);
      }

      .p-card .p-card-body {
        display: flex;
        justify-content: center;
        flex-direction: column;
      }

      @media screen and (max-width: 700px) {
        max-width: 100%;
        max-height: 100%;
        padding: var(--espacamento-padrao) var(--espacamento-pequeno);
        min-height: auto;
        min-width: 100%;
        overflow: auto;
        height: 100%;

        .p-card .p-card-body {
          height: 100%;
        }

        .p-card .p-card-content {
          padding: var(--espacamento-padrao);
          display: flex;
          justify-content: start;
          flex-direction: column;
        }

        form {
          height: 100%;
        }
      }
    }
  }
}
