<div class="container">
  <div class="card">
    <div class="card-content">
      <h1 class="titulo">Change Password</h1>

      <form [formGroup]="formSenha" (ngSubmit)="alterarSenha()" class="mt-5">
        <div class="password-field">
          <label for="senhaAtual" class="required">Current Password</label>
          <div class="password-container">
            <p-password
              [toggleMask]="true"
              [feedback]="false"
              id="senhaAtual"
              formControlName="senhaAtual"
              class="password-input w-full input-form password"
              minlength="8"
              maxLength="32"
              uiSenha
              [permitirColar]="false"
              placeholder="Enter your current password"
            >
            </p-password>

            <ng-template pTemplate="hideicon">
              <div
                class="icone-olho flex justify-content-center flex-column align-items-center cursor-pointer"
                id="icone-olho-off"
              >
                <span class="material-symbols-outlined small text-primary">
                  visibility_off
                </span>
                <small class="text-icon">Hide</small>
              </div>
            </ng-template>
            <ng-template pTemplate="showicon">
              <div
                class="icone-olho flex justify-content-center flex-column align-items-center cursor-pointer"
                id="icone-olho"
              >
                <span
                  class="material-symbols-outlined text-caption-small text-primary"
                >
                  visibility
                </span>
                <small class="text-caption-small">Show</small>
              </div>
            </ng-template>
          </div>
          <app-error
            *ngIf="formSenha.get('senhaAtual').errors"
            id="error-msg-senha-atual"
            [control]="formSenha.get('senhaAtual')"
          ></app-error>
        </div>

        <div class="password-field">
          <label for="novaSenha" class="required">New Password</label>
          <div class="password-container">
            <p-password
              [toggleMask]="true"
              [feedback]="false"
              [permitirColar]="false"
              minlength="8"
              maxLength="32"
              uiSenha
              id="novaSenha"
              formControlName="novaSenha"
              class="password-input w-full input-form password"
              placeholder="Enter your new password"
            />

            <ng-template pTemplate="hideicon">
              <div
                class="icone-olho flex justify-content-center flex-column align-items-center cursor-pointer"
                id="icone-olho-off"
              >
                <span class="material-symbols-outlined small text-primary">
                  visibility_off
                </span>
                <small class="text-icon">Hide</small>
              </div>
            </ng-template>
            <ng-template pTemplate="showicon">
              <div
                class="icone-olho flex justify-content-center flex-column align-items-center cursor-pointer"
                id="icone-olho"
              >
                <span
                  class="material-symbols-outlined text-caption-small text-primary"
                >
                  visibility
                </span>
                <small class="text-caption-small">Show</small>
              </div>
            </ng-template>
          </div>

          <app-error
            *ngIf="formSenha.get('novaSenha').errors"
            id="error-msg-nova-senha"
            [control]="formSenha.get('novaSenha')"
          ></app-error>
        </div>

        <div class="password-field">
          <label for="confirmacaoSenha" class="required"
            >Confirm New Password</label
          >

          <p-password
            [toggleMask]="true"
            [feedback]="false"
            [permitirColar]="false"
            formControlName="confirmacaoSenha"
            minlength="8"
            maxLength="32"
            uiSenha
            id="confirmacaoSenha"
            class="password-input w-full input-form password"
            placeholder="Confirm your new password"
          />

          <ng-template pTemplate="hideicon">
            <div
              class="icone-olho flex justify-content-center flex-column align-items-center cursor-pointer"
              id="icone-olho-off"
            >
              <span class="material-symbols-outlined small text-primary">
                visibility_off
              </span>
              <small class="text-icon">Hide</small>
            </div>
          </ng-template>
          <ng-template pTemplate="showicon">
            <div
              class="icone-olho flex justify-content-center flex-column align-items-center cursor-pointer"
              id="icone-olho"
            >
              <span
                class="material-symbols-outlined text-caption-small text-primary"
              >
                visibility
              </span>
              <small class="text-caption-small">Show</small>
            </div>
          </ng-template>

          <app-error
            *ngIf="formSenha.get('confirmacaoSenha').errors"
            id="error-msg-confirm-nova-senha"
            [control]="formSenha.get('confirmacaoSenha')"
          ></app-error>
        </div>

        <div class="btn-senha-salvar">
          <button
            pButton
            type="submit"
            [disabled]="formSenha.invalid || loading"
          >
            {{ loading ? "Updating..." : "Update" }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<p-toast position="top-right"></p-toast>
