<div
  class="settings-sidebar"
  [ngClass]="{
    active: isMenuOpen(),
    mobile: isMobile(),
    'mobile-compact': isMobileCompact()
  }"
>
  <div class="sidebar-header">
    <h2 class="sidebar-title">Settings</h2>
    <div class="header-actions">
      <button class="back-button" (click)="goBack()" aria-label="Back">
        <app-icon-back></app-icon-back>
      </button>
    </div>
  </div>
  
  <ul class="sidebar-menu">
    <li *ngFor="let item of menuItems" 
        [routerLink]="[item.route]" 
        routerLinkActive="active"
        class="sidebar-menu-item"
        (click)="setActiveMenuItem(item.id)">
      <span class="menu-item-content">
        <span class="menu-item-icon">
          <ng-container *ngIf="getIconComponent(item.icon)">
            <ng-container *ngComponentOutlet="getIconComponent(item.icon)"></ng-container>
          </ng-container>
        </span>
        <span class="menu-item-label">{{ item.label }}</span>
      </span>
    </li>
  </ul>
</div>

<div
  class="settings-overlay"
  *ngIf="isMenuOpen() && isMobileCompact()"
  (click)="toggleMenu()"
  tabindex="-1"
  role="presentation"
></div>
