<app-search-section (monitorsFound)="onMonitorsFound($event.monitors, $event.zipCode)"></app-search-section>

<app-sidebar-mapa></app-sidebar-mapa>

<div class="client-view">
  <div class="map-container">
    <div *ngIf="isLoading" class="map-loading">
      <p>Loading map, please wait...</p>
      <div class="loading-spinner"></div>
    </div>

    <app-maps
      #mapsComponent
      height="100%"
      width="100%"
      [center]="mapCenter"
      (pointClick)="handlePointClick($event)"
      (markerClicked)="handleMarkerClick($event)"
      (mapInitialized)="onMapInitialized()"
      (mapReady)="onMapReady()"
      (mapError)="onMapError($event)"
    >
    </app-maps>
  </div>

  <app-pop-up-add-list
    [(visible)]="showPointMenu"
    [position]="menuPosition"
    [selectedPoint]="selectedPoint"
    (detailsClicked)="showPointDetails($event)"
    (addToListClicked)="addPointToList($event)"
  >
  </app-pop-up-add-list>
</div>
