.informacoes-pessoais {
  font-family: var(--fonte-familia);

  .form-group {
    margin-top: var(--espacamento-padrao);
    margin-bottom: var(--espacamento-grande);
  }

  #social-media-input {
    padding: 6px 8px;
    border-radius: var(--borda-raio-pequeno);
    background-color: var(--cor-cinza);
    border-color: var(--cor-cinza);
    transition: var(--transicao-padrao);

    &:hover {
      border-color: var(--cor-primaria-clara) !important;
      background-color: var(--cor-primaria-clara) !important;
    }
  }
}

.label-left {
  margin-right: auto;
}

:host ::ng-deep {
  .p-disabled,
  .p-component:disabled {
    opacity: 0.65;
    background-color: var(--color-disabled-fundo-input);
    color: var(--color-disabled-text-input);
    border: 1px solid var(--color-disabled-borda-input);
  }
}

.md\:col-3 {
  min-width: 166px;
}

@media screen and (max-width: 768px) {
  .form-container {
    padding: var(--espacamento-padrao);
    display: flex;
    flex-direction: column;
    gap: var(--espacamento-padrao);
  }

  .input-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--espacamento-pequeno);
  }

  .button-group {
    display: flex;
    flex-direction: column;
    gap: var(--espacamento-padrao);
  }
}
