.title {
  color: var(--cor-primaria);
}

.recover-text {
  font-size: var(--fonte-tamanho-padrao) !important;
}

.resume {
  color: var(--cor-primaria);
}

:host ::ng-deep {
  .input-form {
    height: 48px;
    border-radius: 10px !important;
  }

  .formulario-pequeno .card .p-card-body {
    min-height: 350px;
  }

  #error-msg-login {
    .text-danger {
      padding-left: 10px;
    }
  }
}
