<p-toast 
  id="toast"
  [showTransformOptions]="'translateX(100%)'"
  [hideTransformOptions]="'translateX(100%)'"
  [showTransitionOptions]="'300ms ease-out'"
  [hideTransitionOptions]="'250ms ease-in'"
  position="top-right">
  <ng-template let-message pTemplate="message">
    <div class="toast-content">
      <div class="toast-icon-container">
        <span class="toast-icon" [ngClass]="'toast-icon-' + message.severity">
          <span [ngSwitch]="message.severity" class="toast-icon-symbol">
            <span *ngSwitchCase="'success'">✓</span>
            <span *ngSwitchCase="'error'">✕</span>
            <span *ngSwitchCase="'warn'">⚠</span>
            <span *ngSwitchCase="'info'">ℹ</span>
            <span *ngSwitchDefault>!</span>
          </span>
        </span>
      </div>
      <div class="toast-text">
        <div class="toast-title" *ngIf="message.summary">
          {{ message.summary }}
        </div>
        <div class="toast-message" *ngIf="message.detail">
          {{ message.detail }}
        </div>
      </div>
    </div>
  </ng-template>
</p-toast>
