label {
  margin-left: 10px;
  &.required::after {
    content: " *";
  }
}

:host ::ng-deep {
  .input-form {
    height: 48px;
    border-radius: 10px !important;
  }

  #error-msg-login {
    .text-danger {
      padding-left: 10px;
    }
  }

  .botoes-card-pequeno {
    padding: 8px;
  }

  .btn-reenviar-codigo {
    color: var(--cor-primaria);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.resend-button {
  background-color: var(--cor-primaria) !important;
  max-width: 150px !important;
  padding: 8px !important;
  margin-left: 0.5rem;

  &:hover {
    opacity: 0.9 !important;
  }
}

.recover-text {
  font-size: var(--fonte-tamanho-padrao) !important;
}
