@if (loginMode) {
<app-card-centered
  type="formulario-login"
  class="formulario-login"
  [class.formulario-login--partner]="isPartnerMode"
>
  <ng-template pTemplate="content">
    <ng-container>
      <div class="flex justify-content-center">
        @if (logoSrc) {
          <img src="{{ logoSrc }}" alt="Logo" class="logo" id="logo" />
        }
      </div>

      <div class="header-container">
        @if (isPartnerMode) {
          <span class="partner-badge">
            <i class="pi pi-briefcase"></i>
            Partner
          </span>
        }
        <h1 id="test-descricao" class="descricao">{{ pageTitle }}</h1>
        <p class="login-subtitle">{{ pageSubtitle }}</p>
      </div>
    </ng-container>

    <button
      type="button"
      class="back-link"
      id="test-link-voltar"
      (click)="goBack()"
    >
      <i class="pi pi-arrow-left"></i>
      Back
    </button>

    <form
      [formGroup]="form"
      class="flex flex-column justify-content-center sm:justify-content-between"
    >
      <div class="col-12">
        <div class="label-input">
          <label htmlFor="login" id="lb-login">
            <app-icon-user
              class="icon-custon"
              id="test-icon-person"
              width="20"
              height="20"
            ></app-icon-user>
            Email
          </label>
        </div>
        <input
          type="email"
          pInputText
          formControlName="login"
          id="test-input-login"
          class="w-full input-form"
          placeholder="your.email@company.com"
          autocomplete="username"
          (keyup.enter)="login()"
        />
        <app-error
          *ngIf="form.get('login')?.errors"
          id="error-msg-login"
          [control]="form.get('login')"
          class="error-msg"
        ></app-error>
      </div>

      <div class="col-12">
        <div class="label-input">
          <label htmlFor="senha" id="lb-senha">
            <app-icon-lock
              class="icon-custon"
              id="test-icon-lock"
              width="20"
              height="20"
            ></app-icon-lock>
            Password
          </label>
        </div>
        <p-password
          [toggleMask]="true"
          [feedback]="false"
          formControlName="password"
          placeholder="Enter your password"
          class="w-full password"
          id="test-input-senha"
          minlength="8"
          maxLength="32"
          (onKeyup.enter)="login()"
        >
        </p-password>
        <app-error
          id="error-msg-senha"
          [control]="form.get('password')"
          class="error-msg"
        ></app-error>
      </div>

      <span id="test-texto-esqueceu-senha" class="ml-3 mb-3 font-normal">
        Forgot your password?
        <a id="test-link-clique-aqui" routerLink="/auth/recover-password"
          >Click here.</a
        >
      </span>

      <div class="flex justify-content-center btn-enter">
        <button
          pButton
          id="test-btn-entrar"
          class="botao-entrar justify-content-center w-full"
          [class.p-button-primary]="!isPartnerMode"
          [class.p-button-help]="isPartnerMode"
          [disabled]="habilitarBotao()"
          (click)="login()"
        >
          <span *ngIf="loading" class="pi pi-spin pi-spinner mr-2"></span>
          {{ isPartnerMode ? "Login Partner" : "Login Client" }}
        </button>
      </div>
    </form>

    @if (!isPartnerMode) {
      <div class="flex flex-column align-items-center mt-3">
        <p
          id="test-texto-nao-possui-conta"
          class="text-center font-normal mb-3"
        >
          Don't have an account?
          <a id="test-link-cadastre-se" routerLink="/register"> Sign up </a>
        </p>

        <a id="test-link-retomar-cadastro" routerLink="/register/resume">
          Resume Registration
        </a>
      </div>
    } @else {
      <p class="partner-login-note text-center mt-3">
        Partner accounts are created by Telas administration. Sign in with the
        credentials provided by your administrator.
      </p>
    }
  </ng-template>
</app-card-centered>
}
