<div class="text-danger mt-1" *ngIf="control && control.errors && (control.dirty || control.touched)">
  <small  *ngIf="control.errors.required"><small>Required field not filled!</small></small>
  <small  *ngIf="control.errors.email"><small>Invalid email format</small></small>
  <small  *ngIf="control.errors.minlength"><small>{{'The field must have at least ' + control.errors.minlength.requiredLength}} characters</small></small>
  <small  *ngIf="control.errors.maxlength"><small>{{'The field must have at most ' + control.errors.maxlength.requiredLength}} characters</small></small>
  <small  *ngIf="control.errors.cpfInvalido"><small>{{control.errors.cpfInvalido}}</small></small>
  <small  *ngIf="control.errors.minDate"><small>{{control.errors.minDate.message}}</small></small>
  <small  *ngIf="control.errors.maxDate"><small>{{control.errors.maxDate.message}}</small></small>
  <small  *ngIf="control.errors.lessThanEqualTo"><small>{{control.errors.lessThanEqualTo.message}}</small></small>
</div>


