p {
  color: var(--cor-primaria);
}

.primary-dark-color,
.monitor-icon {
  color: var(--cor-primaria-escura);
}

.monitor-icon {
  margin-top: 5px;
}

::ng-deep {
  .p-card-body {
    width: 100%;
    display: flex;
  }

  .card-header {
    padding: var(--espacamento-padrao);
  }

  .p-card-content {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @media (max-width: 576px) {
      justify-content: center;
    }
  }

  .box-form {
    .form-group {
      margin-bottom: 1.5rem;

      label {
        display: block;
        margin-bottom: 0.5rem;
        font-weight: var(--fonte-peso-medio);
        color: var(--cor-cinza-escuro);
      }

      input,
      ::ng-deep p-multiselect,
      ::ng-deep p-dropdown {
        width: 100%;
      }

      ::ng-deep p-checkbox {
        display: flex;
        align-items: center;
      }

      .help-text {
        display: block;
        margin-top: 4px;
        font-size: 0.875rem;
        color: var(--cor-legenda);
        font-style: italic;

        &.error-text {
          color: var(--cor-erro);
          font-weight: var(--fonte-peso-medio);
        }
      }
    }
  }

  @media screen and (max-width: 576px) {
    .filters {
      flex-direction: column;

      .p-button {
        margin-left: 0;
        margin-top: var(--espacamento-pequeno);
        width: 100%;
      }
    }
  }
}
