.container {

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      margin: 0;
      font-size: 1.8rem;
      font-weight: 600;
    }
  }

  .content {
    .filters {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: var(--espacamento-padrao);
      flex-wrap: wrap;

      .p-input-icon-left {
        flex: 1;
        margin: 0;

        input {
          width: 100%;
        }
      }

      .p-button {
        margin-left: var(--espacamento-padrao);
      }
    }

    .action-buttons {
      display: flex;
      gap: 0.5rem;
    }
  }
}

.monitor-form {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;

  .p-field {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    label {
      font-weight: 500;
    }

    input, p-dropdown {
      width: 100%;
    }
  }
}

.text-center {
  text-align: center;
}

.card-header {
  padding: var(--espacamento-padrao);
}

@media screen and (max-width: 576px) {
  .filters {
    flex-direction: column;

    .p-button {
      margin-left: 0;
      margin-top: var(--espacamento-pequeno);
      width: 100%;
    }
  }
}
