<div class="box-login-container">
  <div class="icon-tv">
    <app-icon-tv-display width="60" height="60"></app-icon-tv-display>
  </div>

  <div *ngIf="!selectedBox" class="select-box-section">
    <label for="box-select">Select a Box</label>
    <ul class="box-list">
      <li *ngFor="let box of boxes" (click)="selectBox(box)">
        <span class="box-name">{{ box.name }}</span>
      </li>
    </ul>
  </div>

  <form *ngIf="selectedBox" [formGroup]="form" (ngSubmit)="login()" class="box-login-form">
    <div class="selected-box-label">
      <span>Box: <strong>{{ selectedBox.name }}</strong></span>
      <a href="#" (click)="selectedBox = null; $event.preventDefault()" class="change-box-link">Change</a>
    </div>
    <div class="form-group">
      <label for="login">Identification Number</label>
      <input
        type="text"
        pInputText
        formControlName="login"
        id="login"
        class="w-full"
        placeholder="Enter identification"
      />
    </div>
    <div class="form-group">
      <label for="senha">Password</label>
      <p-password
        [toggleMask]="true"
        [feedback]="false"
        formControlName="senha"
        id="senha"
        class="w-full"
        placeholder="Enter password"
      ></p-password>
      <small *ngIf="form.get('senha').hasError('invalid')" class="text-danger">Invalid credentials</small>
    </div>
    <button
      pButton
      class="w-full"
      [disabled]="form.invalid || loading"
      type="submit"
    >
      <span *ngIf="loading" class="pi pi-spin pi-spinner mr-2"></span>
      Login
    </button>
  </form>
</div>
