<footer id="contact" class="footer-bg text-white py-3 rodape-container">
  <div class="px-4">
    <div class="footer-grid">
      <div class="footer-brand">
        <div class="logo-container">
          <img src="assets/img/Logo-black.png" alt="Logo" class="header-logo" />
        </div>
        <p class="text-gray-300 mb-3">
          The leading platform for digital advertising on location-based
          screens. Connect with your audience where it matters most.
        </p>
      </div>
      <div>
        <h4 class="text-lg font-semibold mb-3">Support</h4>
        <ul class="flex flex-column gap-2">
          <li>
            <a routerLink="/privacy-policy" class="footer-link"
              >Privacy Policy</a
            >
          </li>
          <li>
            <a routerLink="/terms-of-service" class="footer-link"
              >Terms of Service</a
            >
          </li>
        </ul>
      </div>
      <div>
        <h4 class="text-lg font-semibold mb-3">Contact</h4>
        <div class="space-y-4">
          <div class="flex items-center gap-2">
            <app-icon-mail
              class="text-primary-light"
              width="20"
              height="20"
            ></app-icon-mail>
            <a
              href="mailto:support&#64;telas-ads.com"
              aria-label="Email support at Telas"
              style="text-decoration: none"
              >support&#64;telas-ads.com</a
            >
          </div>
          <div class="flex items-center gap-2">
            <app-icon-phone
              class="text-primary-light"
              width="20"
              height="20"
            ></app-icon-phone>
            <a href="tel:+15082158681" style="text-decoration: none">
              +1 (508) 215-8681
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <p class="mb-0 font-semibold">
        © 2025 Telas. All rights reserved. Connecting businesses with digital
        advertising opportunities.
      </p>
    </div>
  </div>
</footer>
